openapi: 3.1.0
info:
  title: Life2 Lists Service REST API
  version: 0.7.0
  description: |
    Todoist remains the system of record. Shopping resolves the authenticated
    principal's verified or deployment-bound account through the tenant catalogue.
    Task Lists requires a verified Life2 JWT, derives the tenant from its accountId
    claim, resolves that tenant's server-side Todoist credential, and exposes the
    active Todoist projects visible to it.
  license:
    name: GNU General Public License v3.0
    identifier: GPL-3.0-only
servers:
  - url: https://lists.life-sqrd.com
    description: Canonical production origin; deployment is not asserted by this contract
  - url: https://{apiId}.execute-api.{region}.amazonaws.com
    description: Deployment-specific AWS API Gateway origin
    variables:
      apiId:
        default: replace-with-api-id
      region:
        default: eu-west-1
tags:
  - name: Health
    description: Liveness and authenticated dependency-readiness operations.
  - name: Items
    description: Shopping-list query and mutation operations.
  - name: Task Lists
    description: Tenant-scoped Todoist projects and their ordered tasks.
  - name: Workspace Search
    description: Internal normalized search provider for the Life2 workspace BFF.
  - name: Todoist Connection
    description: Credential-free status for the acting Life2 tenant's server-managed connection.
security:
  - bearerAuth: []
paths:
  /api/v1/search:
    post:
      operationId: searchWorkspace
      summary: Search the acting tenant's task lists and active tasks
      tags: [Workspace Search]
      description: Tenant identity is derived only from the verified Life2 JWT; any accountId in the body is ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkspaceSearchRequest' }
      responses:
        '200':
          description: Bounded normalized results. The response is private and must not be stored.
          headers:
            Cache-Control:
              schema: { type: string, const: 'private, no-store' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceSearchResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /version:
    get:
      operationId: getComponentVersion
      summary: Read the deployed component version
      tags: [Health]
      security: []
      responses:
        '200':
          description: Package SemVer and immutable build revision.
          content:
            application/json:
              schema:
                type: object
                required: [schemaVersion, component, version, revision]
                properties:
                  schemaVersion: { type: integer, enum: [1] }
                  component: { type: string, enum: [lists-service] }
                  version: { type: string }
                  revision: { type: string }
  /health:
    get:
      operationId: getHealth
      summary: Check Lambda liveness
      tags: [Health]
      security: []
      responses:
        '200':
          description: The REST Lambda is responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /health/ready:
    get:
      operationId: getReadiness
      summary: Check Todoist connectivity
      tags: [Health]
      responses:
        '200':
          description: Todoist is reachable for the configured project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          description: The dependency is not ready or is temporarily unavailable.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ReadinessResponse'
                  - $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/todoist/connection:
    get:
      operationId: getTodoistConnection
      summary: Read the acting tenant's Todoist connection state
      tags: [Todoist Connection]
      responses:
        '200':
          description: Credential-free connection state selected exclusively from the verified JWT accountId.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodoistConnectionResponse' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      operationId: disconnectTodoist
      summary: Request removal of the Todoist connection
      description: Server-managed catalogue connections cannot be changed through this API.
      tags: [Todoist Connection]
      responses:
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/todoist/connection/authorizations:
    post:
      operationId: startTodoistAuthorization
      summary: Request interactive Todoist authorization
      description: This release uses separately protected, server-managed tenant credentials and rejects browser provisioning.
      tags: [Todoist Connection]
      responses:
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/task-lists:
    get:
      operationId: listTaskLists
      summary: List named task lists
      tags: [Task Lists]
      responses:
        '200':
          description: Every active Todoist project visible through the acting tenant's connected account.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskListListResponse' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
    post:
      operationId: createTaskList
      summary: Create a named task list
      tags: [Task Lists]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTaskListRequest' }
      responses:
        '201':
          description: Task list created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskListResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/task-lists/{listId}:
    parameters:
      - $ref: '#/components/parameters/ListId'
    delete:
      operationId: deleteTaskList
      summary: Complete remaining tasks and archive the task list
      description: Closes every active task before archiving the backing Todoist section. The section is not archived if any close fails.
      tags: [Task Lists]
      parameters:
        - $ref: '#/components/parameters/DestructiveConfirmation'
      responses:
        '200':
          description: Remaining tasks completed and list archived.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeleteTaskListResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/task-lists/{listId}/tasks:
    parameters:
      - $ref: '#/components/parameters/ListId'
    get:
      operationId: listTaskListTasks
      summary: List tasks in one named list
      tags: [Task Lists]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [active, completed, all], default: active }
      responses:
        '200':
          description: Scoped tasks ordered by provider position.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskListTaskListResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
    post:
      operationId: createTaskListTask
      summary: Add a task to one named list
      tags: [Task Lists]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskContentRequest' }
      responses:
        '201':
          description: Task created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskListTaskResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/task-lists/{listId}/tasks/order:
    parameters:
      - $ref: '#/components/parameters/ListId'
    put:
      operationId: reorderTaskListTasks
      summary: Replace the active task order
      description: taskIds must be an exact, duplicate-free permutation of every active task in the list.
      tags: [Task Lists]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReorderTasksRequest' }
      responses:
        '200':
          description: Order updated through one Todoist item_reorder sync command.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReorderTasksResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/task-lists/{listId}/tasks/{taskId}:
    parameters:
      - $ref: '#/components/parameters/ListId'
      - $ref: '#/components/parameters/TaskId'
    patch:
      operationId: updateTaskListTask
      summary: Edit task content
      tags: [Task Lists]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskContentRequest' }
      responses:
        '200':
          description: Task updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskListTaskResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
    delete:
      operationId: deleteTaskListTask
      summary: Permanently remove a task
      tags: [Task Lists]
      responses:
        '200':
          description: Task deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeleteItemResponse' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/task-lists/{listId}/tasks/{taskId}/complete:
    parameters:
      - $ref: '#/components/parameters/ListId'
      - $ref: '#/components/parameters/TaskId'
    post:
      operationId: completeTaskListTask
      summary: Mark a task done
      tags: [Task Lists]
      responses:
        '200':
          description: Task completed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompleteItemResponse' }
        '401': { $ref: '#/components/responses/AuthenticationRequired' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/UpstreamError' }
  /v1/items:
    get:
      operationId: listItems
      summary: List shopping-list items
      tags: [Items]
      parameters:
        - name: status
          in: query
          required: false
          description: Completion state to return. Defaults to active.
          schema:
            type: string
            enum: [active, completed, all]
            default: active
      responses:
        '200':
          description: Matching shopping-list items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemListResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: addItem
      summary: Add a shopping-list item
      tags: [Items]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequest'
      responses:
        '201':
          description: A new item was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponse'
        '200':
          description: An active item with the same normalized content already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: clearCompletedItems
      summary: Permanently delete completed shopping-list items
      tags: [Items]
      parameters:
        - name: status
          in: query
          required: true
          schema:
            type: string
            const: completed
        - $ref: '#/components/parameters/DestructiveConfirmation'
      responses:
        '200':
          description: Completed items were deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearCompletedResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/items.pdf:
    get:
      operationId: printActiveItems
      summary: Download the active shopping list as a PDF
      description: Reads the current active items from Todoist and renders a non-persisted printable snapshot.
      tags: [Items]
      responses:
        '200':
          description: A printable A4 PDF containing the current active shopping-list items.
          headers:
            Content-Disposition:
              schema:
                type: string
              description: attachment; filename="shopping-list.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/items/{itemId}:
    parameters:
      - $ref: '#/components/parameters/ItemId'
    delete:
      operationId: deleteItem
      summary: Permanently delete an item
      tags: [Items]
      responses:
        '200':
          description: The item was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemResponse'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/items/{itemId}/complete:
    parameters:
      - $ref: '#/components/parameters/ItemId'
    post:
      operationId: completeItem
      summary: Mark an item completed
      tags: [Items]
      responses:
        '200':
          description: The item was completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteItemResponse'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/items/{itemId}/reopen:
    parameters:
      - $ref: '#/components/parameters/ItemId'
    post:
      operationId: reopenItem
      summary: Reopen a completed item
      tags: [Items]
      responses:
        '200':
          description: The item was reopened.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReopenItemResponse'
        '401':
          $ref: '#/components/responses/AuthenticationRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          $ref: '#/components/responses/UpstreamError'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-or-Life2-JWT
      description: Account-bound opaque automation token or verified Life2 JWT.
  parameters:
    ListId:
      name: listId
      in: path
      required: true
      description: Todoist project identifier visible to the acting tenant.
      schema: { type: string, minLength: 1 }
    TaskId:
      name: taskId
      in: path
      required: true
      description: Todoist task identifier scoped to the requested task list.
      schema: { type: string, minLength: 1 }
    ItemId:
      name: itemId
      in: path
      required: true
      description: Todoist task identifier.
      schema:
        type: string
        minLength: 1
    DestructiveConfirmation:
      name: X-Confirm-Destructive-Action
      in: header
      required: true
      description: Must be true to authorize bulk permanent deletion.
      schema:
        type: string
        const: 'true'
  responses:
    AuthenticationRequired:
      description: A valid bearer token was not supplied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authenticated credential cannot access this tenant-scoped resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: The request is invalid or destructive confirmation is absent.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The item or route was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UpstreamError:
      description: Todoist rejected the request, rate-limited it, or was unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: The request could not be completed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    WorkspaceSearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string, minLength: 2, maxLength: 120 }
        limit: { type: integer, minimum: 1, maximum: 30, default: 5 }
        accountId:
          type: string
          description: Ignored; tenant authority comes only from the verified JWT.
    WorkspaceSearchResponse:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          maxItems: 30
          items: { $ref: '#/components/schemas/WorkspaceSearchHit' }
    WorkspaceSearchHit:
      type: object
      additionalProperties: false
      required: [kind, resourceId, title, score, target]
      properties:
        kind: { type: string, enum: [task-list, task-list-task] }
        resourceId: { type: string }
        title: { type: string }
        subtitle: { type: string }
        score: { type: number, minimum: 0, maximum: 1 }
        target:
          type: object
          additionalProperties: false
          required: [routeName, params]
          properties:
            routeName: { type: string, const: task-lists }
            params:
              type: object
              additionalProperties: { type: string }
    Meta:
      type: object
      additionalProperties: false
      required: [requestId]
      properties:
        requestId:
          type: string
    ShoppingListItem:
      type: object
      additionalProperties: false
      required: [id, content, isCompleted]
      properties:
        id:
          type: string
        content:
          type: string
          minLength: 1
          maxLength: 500
        description:
          type: string
        isCompleted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    TaskList:
      type: object
      additionalProperties: false
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string, minLength: 1, maxLength: 128 }
    TodoistConnectionResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [status, canManageConnection]
          properties:
            status: { type: string, enum: [connected, not_connected] }
            canManageConnection: { type: boolean, const: false }
        meta: { $ref: '#/components/schemas/Meta' }
    TaskListTask:
      type: object
      additionalProperties: false
      required: [id, listId, content, isCompleted, position]
      properties:
        id: { type: string }
        listId: { type: string }
        content: { type: string, minLength: 1, maxLength: 500 }
        isCompleted: { type: boolean }
        position: { type: integer, minimum: 1 }
    CreateTaskListRequest:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 128 }
    TaskContentRequest:
      type: object
      additionalProperties: false
      required: [content]
      properties:
        content: { type: string, minLength: 1, maxLength: 500 }
    ReorderTasksRequest:
      type: object
      additionalProperties: false
      required: [taskIds]
      properties:
        taskIds:
          type: array
          uniqueItems: true
          items: { type: string, minLength: 1 }
    AddItemRequest:
      type: object
      additionalProperties: false
      required: [content]
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 500
          pattern: "\\S"
    HealthResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [status]
          properties:
            status:
              type: string
              const: ok
        meta:
          $ref: '#/components/schemas/Meta'
    ReadinessResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [status]
          properties:
            status:
              type: string
              enum: [ready, not_ready]
        meta:
          $ref: '#/components/schemas/Meta'
    ItemListResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ShoppingListItem'
        meta:
          type: object
          additionalProperties: false
          required: [requestId, count]
          properties:
            requestId:
              type: string
            count:
              type: integer
              minimum: 0
    AddItemResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/ShoppingListItem'
        meta:
          type: object
          additionalProperties: false
          required: [requestId, alreadyExists]
          properties:
            requestId:
              type: string
            alreadyExists:
              type: boolean
    ClearCompletedResponse:
      $ref: '#/components/schemas/MutationCountResponse'
    MutationCountResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [deletedCount]
          properties:
            deletedCount:
              type: integer
              minimum: 0
        meta:
          $ref: '#/components/schemas/Meta'
    DeleteItemResponse:
      $ref: '#/components/schemas/DeleteFlagResponse'
    DeleteFlagResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [deleted]
          properties:
            deleted:
              type: boolean
              const: true
        meta:
          $ref: '#/components/schemas/Meta'
    CompleteItemResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [completed]
          properties:
            completed:
              type: boolean
              const: true
        meta:
          $ref: '#/components/schemas/Meta'
    ReopenItemResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [reopened]
          properties:
            reopened:
              type: boolean
              const: true
        meta:
          $ref: '#/components/schemas/Meta'
    TaskListListResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/TaskList' } }
        meta:
          type: object
          additionalProperties: false
          required: [requestId, count]
          properties:
            requestId: { type: string }
            count: { type: integer, minimum: 0 }
    TaskListResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: { $ref: '#/components/schemas/TaskList' }
        meta: { $ref: '#/components/schemas/Meta' }
    TaskListTaskListResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/TaskListTask' } }
        meta:
          type: object
          additionalProperties: false
          required: [requestId, count]
          properties:
            requestId: { type: string }
            count: { type: integer, minimum: 0 }
    TaskListTaskResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data: { $ref: '#/components/schemas/TaskListTask' }
        meta: { $ref: '#/components/schemas/Meta' }
    DeleteTaskListResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [deleted, completedCount]
          properties:
            deleted: { type: boolean, const: true }
            completedCount: { type: integer, minimum: 0 }
        meta: { $ref: '#/components/schemas/Meta' }
    ReorderTasksResponse:
      type: object
      additionalProperties: false
      required: [data, meta]
      properties:
        data:
          type: object
          additionalProperties: false
          required: [reordered]
          properties:
            reordered: { type: boolean, const: true }
        meta: { $ref: '#/components/schemas/Meta' }
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error, meta]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - AMBIGUOUS_ITEM
                - AUTHENTICATION_REQUIRED
                - CONFIGURATION_ERROR
                - DESTRUCTIVE_ACTION_NOT_CONFIRMED
                - INTERNAL_ERROR
                - ITEM_NOT_FOUND
                - TASK_LIST_NOT_FOUND
                - TASK_NOT_FOUND
                - ROUTE_NOT_FOUND
                - UPSTREAM_AUTHENTICATION_FAILED
                - UPSTREAM_RATE_LIMITED
                - UPSTREAM_UNAVAILABLE
                - VALIDATION_ERROR
            message:
              type: string
        meta:
          $ref: '#/components/schemas/Meta'
